body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    margin-top: 15px;
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
    list-style: none;
    font-size: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    display: flex;
    gap: 30px;
    font-size: larger;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;

}

.btn_header {
    margin: 0;
    text-align: center;
    display: inline-block;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 7px 30px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    border-radius: 30px;
}

.btn_header:hover {
            background-color: #ffd700;
            color: #000000;
        }