body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    background-color: transparent;
    color: white;
    padding: 15 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
    list-style: none;
    font-size: 18px;

}

.logo {
    font-size: 24px;
    font-weight: bold;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    display: flex;
    gap: 30px;
    font-size: larger;

}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

.main {
    background-image: url("imagens/imagemfundo.jpg") ;	
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
